[package]
name = "iter_tools"
version = "0.22.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/iter_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/iter_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/iter_tools"
description = """
Collection of general purpose tools to iterate. Currently it simply reexports itertools.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

[features]
default = [
  "enabled",
  "iter_trait",
  "iter_ext",
]
full = [ "default" ]
no_std = []
use_alloc = [ "itertools/use_alloc" ]
enabled = [ "clone_dyn_types/enabled" ]

iter_trait = []
iter_ext = []

# qqq : work out set of features

[dependencies]

# external
itertools = { version = "~0.11.0", features = [ "use_std" ] }
# qqq : update

# internal
clone_dyn_types = { workspace = true, features = [] }

[dev-dependencies]
test_tools = { workspace = true }
