[package]
name = "wca"
version = "0.22.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
  "Bogdan Balushkin <bohdan.b@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/wca"
repository = "https://github.com/Wandalen/wTools/tree/master/module/move/wca"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/move/wca/Readme.md"
description = """
The tool to make CLI ( commands user interface ). It is able to aggregate external binary applications, as well as functions, which are written in your language.
"""
categories = [ "command-line-interface", "command-line-utilities" ]
keywords = [ "wtools", "CLI", "CUI", "user-interface" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full", "error_tools/enabled", "strs_tools/enabled", "mod_interface/enabled", "iter_tools/enabled", "former/enabled" ]
all-features = false

[features]
default = [ "enabled" ]
full = [ "enabled", "on_unknown_suggest" ]
enabled = []

# This configuration suggests an action to be done when the command is unknown. In this case, when an unknown command is encountered, the system might suggest alternatives
on_unknown_suggest = [ "dep:textdistance" ]

[[bench]]
name = "bench"
harness = false

[dependencies]

## internal
error_tools = { workspace = true, features = [ "default" ] }
strs_tools = { workspace = true, features = [ "default" ] }
mod_interface = { workspace = true, features = [ "default" ] }
iter_tools = { workspace = true, features = [ "default" ] }
former = { workspace = true, features = [ "default" ] }
# xxx : qqq : optimize set of features

## external
log = "0.4"
#closure = "0.3"
textdistance = { version = "1.0", optional = true } # fuzzy commands search
indexmap = "2.2.6"

[dev-dependencies]
test_tools = { workspace = true }
assert_fs = "1.0"
criterion = "0.5"
