[package]
name = "sqlx_query"
version = "0.2.1"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Viktor Dudnik <viktor.d@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/sqlx_query"
repository = "https://github.com/Wandalen/wTools/tree/master/module/move/sqlx_query"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/move/sqlx_query"
description = """
Expands to either sqlx function `query` or macro `query!` call depending on `sqlx_compiletime_checks` has been enabled during the build.
"""

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false
# exclude = [ "/tests", "/examples", "-*" ]

[features]
default = [ "enabled" ]
full = [ "enabled" ]
no_std = []
use_alloc = [ "no_std" ]
enabled = []

[dependencies]

[dev-dependencies]
test_tools = { workspace = true }